// @font-face {
//   font-family: "WorkSans-Light.woff";
//   src: url("https://prontomc.co.uk//wp-content/themes/prc-theme/app/font/WorkSans-Light.woff");
// }

// @font-face {
//   font-family: "Playfair-Display";
//   src: url("https://prontomc.co.uk//wp-content/themes/prc-theme/app/font/playfair-display.woff");
// }
