// Spacing
$max-width: 1320px;

// Borders
$border-radius: 2px;

// Colors

// Palette Option 3
$canvas:  #D9A566;
$ember:   #E07A7A;
$clay:    #868E74;
$sage:    #86BDD1;
$harbor:  #4B6389;
$ink:     #4C4C5E;
$black:   #000000;
$white:   #ffffff;

// Palette Option 2
$canvas:  #E6C38F;
$ember:   #D0952C;
$clay:    #D9919E;
$sage:    #E0762F;
$harbor:  #A7B49D;
$ink:     #3F3E3B;
$black:   #000000;
$white:   #ffffff;

// Palette Option 1
$canvas:  #E6C08B;
$ember:   #EAAA23;
$clay:    #B98C78;
$sage:    #CF8732;
$harbor:  #4F7098;
$ink:     #979CAD;
$black:   #000000;
$white:   #ffffff;


// Typography
$font-primary: sans-serif;
$font-secondary: serif;  