@use '../base/globals' as *;

.two-column-block {
    @include container;

    @include respond-up(small){
        @include flex-between;
    }

    &.column-alignment--top {
        align-items: flex-start;

        .column {
            align-items: flex-start;  
        }
    }

    &.column-layout--equal {
        .column__heading {
            max-width: 560px;
            margin-bottom: 32px;
        }

        .column__description {
            max-width: 500px;
        }
    }

    &.column-layout--left-narrow {
        .column:first-of-type {
            @include respond-up(small){
                width: 30%;
            } 
        }

        .column:last-of-type {
            @include respond-up(small){
                width: 70%;
                padding-left: 120px;
            } 
        }
    }

    &.column-layout--right-narrow {
        .column:first-of-type {
            @include respond-up(small){
                width: 70%;
                padding-right: 120px;
            } 
        }

        .column:last-of-type {
            @include respond-up(small){
                width: 30%;
            } 
        }
    }

    .column {
        @include flex-center;
        flex-direction: column;

        @include respond-up(small){
            width: calc(50% - 32px);
        } 

        &__image {
            width: 100%;
            height: auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 4px;
            }
        }

        &__description {
            a, a:hover {
                color: $ochre;
            }
        }

        &:first-of-type {
            margin-bottom: 40px;

            @include respond-up(small){
                margin-bottom: unset;
            }
        }
    }

    .primary-button {
        margin: 32px auto 0;

        @include respond-up(small){
            margin: 32px 0 0;
        }
    }

    li {
        margin: 0 0 12px 12px;
        list-style-type: disc;
        list-style-position: unset;
    }
}