@use '../base/globals' as *;

.two-column-block {
    @include container;

    @include respond(small){
        @include flex-between;
    }

    &.column-alignment--top {
        align-items: flex-start;

        .column {
            align-items: flex-start;  
        }
    }

    .column {
        @include flex-center;
        flex-direction: column;

        @include respond(small){
            width: calc(50% - 32px);
        } 

        &__image {
            width: 100%;
            height: auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__heading {
            margin: 16px 0;
        }

        &__description {
            a, a:hover {
                color: $ember;
            }
        }

        &:first-of-type {
            margin-bottom: 40px;

            @include respond(small){
                margin-bottom: unset;
            }
        }
    }

    .primary-button {
        margin-top: 32px;
    }
}