@use '../base/globals' as *;

.archive, .category, .search-results {
  .category-header {
    background: $canvas;

    img {
        width: 100%;
        height: 560px;
        object-fit: cover;
      }
  }

  .category-title {
    @include flex-center;
    width: 100%;
    margin-top: 24px;

    @include respond-up(small){
      margin-bottom: 32px;
    }    
  }

  .post-thumbnail img {
    width: 100%;
    height: 240px;
    object-fit: cover;

    @include respond-up(large) {
      height: 300px;
    }
  }

  .read-more {
    margin: 16px 0 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid $black;
    color: $black;
  }
}

.category-items__item {
  &:nth-child(n+5) {
    display: none;
  }
}

.category-search {
  @include container;
  display: flex;
  justify-content: flex-end;
  margin: 64px auto;
}

.category-content {
  @include container;
  @include flex-between;
  flex-wrap: wrap;
  margin-top: 24px;

  @include respond-up(small){
    margin-top: 48px;
  }

  &__item {
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    @include respond-up(small){
      width: calc(50% - 32px);
      margin-bottom: 32px*2;
      padding-bottom: 16px;
    }

    @include respond-up(large) {
      width: calc(33.33% - 32px);
    }

    h2 {
      margin: 8px 0 0;
      font-size: 22px;
      line-height: 26px;
    }
  }
}

.catergory-content__link {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}