@use '../base/globals' as *;

.primary-button,
.load-more,
.search-submit {
  @include flex-center;
  width: fit-content;
  min-width: 160px;
  height: 48px;
  padding: 0 20px;
  border: 0;
  border-radius: 24px !important;
  color: $white;
  font-family: $font-primary;
  font-size: 16px;
  line-height: 1.1;
  font-weight: bold;
  text-align: center;
  background-color: $turquoise;  
  cursor: pointer !important;
  transition: background-color 0.4s ease-in-out;

  &:hover,
  &:active,
  &:focus-visible {
    color: $white;
    font-weight: bold;
    background-color: tint($turquoise, 20%);
  }
}

.primary-button.button-color--midnight-navy {
    background-color: $midnight-navy;

    &:hover,
    &:active,
    &:focus-visible {
    color: $white;
    background-color: tint($midnight-navy, 20%);
    }
}

.primary-button.button-color--coral-pink {
    background-color: $coral-pink;

    &:hover,
    &:active,
    &:focus-visible {
    color: $white;
    background-color: tint($coral-pink, 20%);
    }
}

.primary-button.button-color--rust-orange {
    background-color: $rust-orange;

    &:hover,
    &:active,
    &:focus-visible {
    color: $white;
    background-color: tint($rust-orange, 20%);
    }
}

.primary-button.button-color--terracotta {
    background-color: $terracotta;

    &:hover,
    &:active,
    &:focus-visible {
    color: $white;
    background-color: tint($terracotta, 20%);
    }
}

.primary-button.button-color--sky-blue {
    background-color: $sky-blue;

    &:hover,
    &:active,
    &:focus-visible {
    color: $white;
    background-color: tint($sky-blue, 20%);
    }
}

.primary-button.button-color--peach-glow {
    background-color: $peach-glow;

    &:hover,
    &:active,
    &:focus-visible {
    color: $white;
    background-color: tint($peach-glow, 20%);
    }
}

.primary-button.button-color--lavender-mist {
    background-color: $lavender-mist;

    &:hover,
    &:active,
    &:focus-visible {
    color: $white;
    background-color: tint($lavender-mist, 20%);
    }
}

.primary-button.button-color--deep-plum {
    background-color: $deep-plum;

    &:hover,
    &:active,
    &:focus-visible {
    color: $white;
    background-color: tint($deep-plum, 20%);
    }
}

.primary-button.button-color--ochre {
    background-color: $ochre;

    &:hover,
    &:active,
    &:focus-visible {
    color: $white;
    background-color: tint($ochre, 20%);
    }
}

.primary-button.button-color--sage-green {
    background-color: $sage-green;

    &:hover,
    &:active,
    &:focus-visible {
    color: $white;
    background-color: tint($sage-green, 20%);
    }
}

.primary-button.button-color--slate-blue {
    background-color: $midnight-navy;

    &:hover,
    &:active,
    &:focus-visible {
    color: $white;
    background-color: tint($midnight-navy, 20%);
    }
}

.primary-button.button-color--turquoise {
    background-color: $turquoise;

    &:hover,
    &:active,
    &:focus-visible {
    color: $white;
    background-color: tint($turquoise, 20%);
    }
}

.primary-button.button-color--black {
    background-color: $black;

    &:hover,
    &:active,
    &:focus-visible {
    color: $white;
    background-color: tint($black, 20%);
    }
}


.read-more {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: $coral-pink;

    &:after {
        content: '\f30b';
        margin-left: 4px;
        font-family: fontawesome;
        transition: margin .2s linear;
    }

    &:hover:after {
        margin-left: 8px;
    }
}

.load-more {
    @include container;
    width: fit-content !important;
    margin-bottom: 32px;
}