@use '../base/globals' as *;

// Background colors for sections, buttons, etc
.background-color {
  &--midnight-navy {
    background-color: $midnight-navy;
  }  

  &--warm-white {
    background-color: $warm-white;
  }  

  &--coral-pink {
    background-color: tint($coral-pink, 72%);
  }

  &--rust-orange {
    background-color: tint($rust-orange, 64%);
  }

  &--terracotta {
    background-color: tint($terracotta, 64%);
  }

  &--sky-blue {
    background-color: tint($sky-blue, 64%);
  }

  &--peach-glow {
    background-color: tint($peach-glow, 64%);
  }

  &--lavender-mist {
    background-color: tint($lavender-mist, 64%);
  }  

  &--deep-plum {
    background-color: tint($deep-plum, 20%);
  }  

  &--ochre {
    background-color: tint($ochre, 72%);
  }  

  &--sage-green {
    background-color: tint($sage-green, 64%);
  }  

  &--slate-blue {
    background-color: tint($slate-blue, 64%);
  }  

  &--turquoise {
    background-color: tint($turquoise, 72%);
  }  

  &--white {
    background-color: $white;
  }

  &--black {
    background-color: $black;
  }  
}


// Font color options
.color {
  &--midnight-navy {
    color: $midnight-navy;
  }

  &--warm-white {
    color: $warm-white;
  }

  &--coral-pink {
    color: $coral-pink;
  }

  &--rust-orange {
    color: $rust-orange;
  }

  &--terracotta {
    color: $terracotta;
  }

  &--sky-blue {
    color: $sky-blue;
  }

  &--peach-glow {
    color: $peach-glow;
  }

  &--lavender-mist {
    color: $lavender-mist;
  }

  &--deep-plum {
    color: $deep-plum;
  }

  &--ochre {
    color: $ochre;
  }

  &--sage-green {
    color: $sage-green;
  }

  &--slate-blue {
    color: $slate-blue;
  }

  &--turquoise {
    color: $turquoise;
  }

  &--white {
    color: $white;
  }

  &--black {
    color: $black;
  }
}