@use '../base/globals' as *;

.site-footer {
  @include container;

  &__wrapper {
    margin-top: auto;
    padding: 32px 0 0;
    background: $canvas;
    color: $white;
  }

  &__socials {
    display: flex;
    margin-top: 20px;

    a {
      &:after {
        @include flex-center;
        margin-right: 16px;
        border: 1px solid $white;
        border-radius: 50%;
        width: 32px;
        height: 32px;
      }

      &:last-of-type:after {
        margin-right: unset;
      }
    }
  }
  
  &__legal {
    padding: 12px;
    border-top: 0.0625rem solid rgba(255, 255, 255, 0.1);
    font-size: 10px;
    text-align: center;
    color: $white;
    background: $canvas;

    @include respond-up(medium) {
      font-size: 12px;
    }

    a, a:hover {
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
    }
  }

  p {
    margin-bottom: unset;
  }

  a, a:hover {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
  }

  .widget-area__wrapper {
    padding-bottom: 32px;
  }

  .wp-block-column {
    flex: 1;
  }

  .wp-block-column:first-of-type {
    align-self: center;
  }

  .wp-block-column:last-of-type {
    flex: 1.8;
  }

  .wp-block-image img {
    width: fit-content;
    max-height: 80px !important;
    object-fit: contain;
  }

  .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond-up(medium){
      display: unset;
    }
  }
}

 .widgettitle {
   margin-bottom: 16px;
   font-size: 20px;
   line-height: 28px;
   text-align: center;

   @include respond-up(small){
    text-align: left;
   }
 }

// Footer menu
.menu-footer-menu-container {
  ul {
    column-count: 3;
  }

  li {
    margin-bottom: 12px;
  }
}
