@use '../base/globals' as *;

.widget-area {
  @include container;

  @include respond(medium){
    @include flex-between;
  }

  li {
    list-style-type: none !important;
  }

&__wrapper {
    padding: 64px 0 24px;
    background: $canvas;
    color: $white;
  }

  .wp-block-column {
    flex: 1;
    
    @include respond(large){
      padding-right: 24px;
    }

    &:last-of-type {
      flex: 1.5;
      font-size: 12px;
      line-height: 20px;

      @include respond(large) {
        padding-right: unset;
      }
      
      * {
        font-size: 12px;
        line-height: 20px;
      }
    }

    h4 {
      color: $canvas;
    }
  }

  .wp-block-image, .menu-item {
    margin-bottom: 16px;
  }
}

.site-footer__legal {
  padding: 12px;
  border-top: 0.0625rem solid rgba(255, 255, 255, 0.1);
  font-size: 10px;
  text-align: center;
  color: $black;
  background: $canvas;

  @include respond(medium) {
    font-size: 12px;
  }

  >div:last-of-type {
    font-size: 10px;
  }
}