@use '../base/globals' as *;

.site-header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;

  &.scrolled {
    .site-header {
      @include respond-up(small) {
        top: 0;
      }
    }
  }
}

.site-header {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: $warm-white;
  transition: top 0.6s ease-in-out;

  @include respond-up(small) {
    @include flex-between;
    align-items: center;
    min-height: unset;
  }

  .active & {
    top: 0;
  }

  &__logo {
    display: block;
    height: 48px;
    margin-top: 8px;
    object-fit: contain;

    @include respond-up(small) {
      position: absolute;
      top: 16px;
      left: 16px;
      z-index: 9;
      margin-top: 0;
    }
  }
}

.main-navigation {
  @include container;

  @include respond-up(large) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
  }

  ul {
    @include respond-up(large) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 64px;
    }
  }

  li {
    position: relative;
    color: $coral-pink;
    font-size: 24px;

    @include respond-up(large) {
      margin: 0;
      font-size: 18px;
    }
  }

  li:nth-of-type(4n + 1):hover {
    color: $terracotta;
  }

  li:nth-of-type(4n + 2):hover {
    color: $ochre;
  }

  li:nth-of-type(4n + 3):hover {
    color: $sage-green;
  }

  li:nth-of-type(4n + 4):hover {
    color: $deep-plum;
  }
}

.menu-toggle {
  border: 0;
  font-size: 0;
  background: none;

  @include respond-up(large) {
    display: none;
  }

  &::after {
    content: '\f0c9';
    position: absolute;
    top: 8px;
    right: 24px;
    font-family: fontawesome;
    font-size: 30px;
    color: $warm-white;
  }
}

.active .menu-toggle::after {
  content: '\f00d';
}