@use '../base/globals' as *;

.single-post {
  .post-thumbnail {
    img {
      width: 100%;
      height: 560px;
      object-fit: cover;  
    }
  }

  .entry-content {
    @include container;
    max-width: 1080px;

    &__title {
    margin: 64px 0 32px;
    font-size: 32px;
    line-height: 40px;
    font-family: $font-secondary;

    @include respond(small) {
        font-size: 48px;
        line-height: 56px;
      }
    }

    .wp-block-image {
      margin: 32px auto;
      width: 100%;

      figure {
        width: 100%;
      }

      img {
        width: 100%;
      }
    }
 }

  .post-navigation {
    @include container;
    max-width: 1200px;
    margin: 32px*2 auto 32px;
  }

  .nav-links {
    @include flex-between;
    color: $black;
    font-family: $font-secondary;
  }

  .nav-previous {
    .nav-title:before {
      content: '\f177';
      margin-right: 4px;
      font-family: fontawesome;
    }
  }

  .nav-next {
    .nav-title:after {
      content: '\f30b';
      margin-left: 4px;
      font-family: fontawesome;
    }
  }

  h2 {
    margin-top: 32px;
    font-size: 24px;
    line-height: 32px;
    text-transform: unset;

    @include respond(small){
        font-size: 32px;
        line-height: 40px;
    }
  }

  h3 {
    margin: 32px 0 16px;
    font-size: 20px;
    line-height: 28px;

    @include respond(small) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  hr {
    margin-bottom: 32px;
  }

  ol, ul {
    margin: 16px 16px 0;
  }

  li {
    margin-bottom: 16px;
    list-style-type: unset;
  }
}