@use '../base/globals' as *;

// Search Form
.search-form {
  display: flex;
}

.search-field {
  width: 290px;
  max-width: 100%;
  padding-bottom: 4px;
  border: 0;
  border-bottom: 1px solid $black;
  font-family: $font-primary;

  @include respond(small){
    width: 320px;
  }
}

.search-submit {
  margin-left: 16px;
  border: 0;
  border-bottom: 1px solid $black;
  text-transform: uppercase;
  font-family: $font-secondary;
  background: 0;
}


// Search Results
.search-results {
  .articles {
    @include container;
    @include flex-between;
    flex-wrap: wrap;
  }

  article {
    margin-bottom: 32px*2;
    padding-bottom: 16px;
    border-bottom: 1px solid $black;

    @include respond(small) {
      width: calc(50% - 32px);
    }
  }
}


// Search when no results
.no-results {
  @include container;

  .search-form {
    margin-top: 32px;
  }
}


